.credentials {
  padding-top: 1.25rem;
  width: 100%;
  border-top: 1px solid #c8c8cb;
}

.credentials a {
  margin: 0 auto;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  color: #1f3f5b;
  display: block;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  width: max-content;
}

.credentials .signup {
  color: white;
  background: linear-gradient(to right, #ff8f70, #ff3d57);
}

@media only screen and (min-width: 768px) {
  .credentials {
    padding: 0;
    width: max-content;
    border: none;
    display: flex;
  }
  .credentials a {
    margin: 0;
    display: initial;
  }
  .credentials .signup {
    color: #ff525d;
    background: white;
  }
}
