.footer {
  background: #25252d;
  text-align: center;
  color: white;
  padding-top: 4.275rem;
  padding-bottom: 3.875rem;
  border-radius: 0 6rem 0 0;
}

.footer h1 {
  font-family: "Ubuntu", sans-serif;
}

.footer li {
  display: flex;
  flex-direction: column;
}

.footer li :not(:first-child) {
  margin-top: 1.1875rem;
}

.footer li a {
  margin: 0 auto;
  text-decoration: none;
  color: #c8c8cb;
}

.footer li :hover {
  text-decoration: underline;
}

.title {
  margin: 2.1875rem 0;
}
