.mainContainer {
  height: max-content;
}

.infra__bg {
  position: absolute;
  width: 628px;
  left: 0;
  transform-origin: left center;
  transform: translate(-124px, -245px);
}

.infra__imgContainer {
  background: linear-gradient(to bottom right, #2c2d3f, #3f4164);
  overflow: hidden;
  position: absolute;
  height: 39rem;
  transform: translate(0, -123px);
  width: 100%;
  z-index: -1;
  border-radius: 0 5rem 0 5rem;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .infra__bg {
    bottom: -101px;
    left: -191px;
    height: 1008px;
    width: 982px;
  }
  .infra__imgContainer {
    right: 0;
    transform: inherit;
    height: 25rem;
    width: 100vw;
  }
}
