.navbar {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  margin: 0 1.5rem;
  padding-top: 3.625rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25rem 1.5rem 2rem;
  position: absolute;
  top: 130%;
  width: 100%;
  max-height: 100vh;
  background: white;
  border-radius: 0.5rem;
  transition: all 500ms;
  overflow: hidden;
  z-index: 2;
}

.navbar .menu__menuGroupSection {
  width: 100%;
}

.navbar .menu__categoryContainer {
  margin-bottom: 1.5rem;
}

.navbar .menu__categoryBtn {
  color: #1f3f5b;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: none;
  transition: all 500ms;
}

.navbar .menu__categoryBtn .arrow {
  margin-left: 0.5rem;
  transition: all 500ms;
}

.navbar .menu__categoryBtn .arrow_close {
  transform: rotate(180deg);
}

.navbar .menu__categorySelected {
  color: #4b5862;
}

.navbar .menu__linkContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #efeff1;
  font-weight: 500;
  overflow: hidden;
  transition: all 500ms;
  margin-top: 1.75rem;
  padding: 1.75rem 0;
  max-height: 50vh;
  border-radius: 0.5rem;
}

.navbar .menu__linkContainer :not(:first-child) {
  margin-top: 1.75rem;
}

.navbar .menu__link {
  color: #4b5862;
  height: auto;
}

.navbar .menu__link:hover {
  font-weight: 700;
}

.navbar .menuClose {
  max-height: 0;
  padding: 0;
  margin-top: 0;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .navbar .menu {
    justify-content: space-between;
    margin-left: 4rem;
    padding: 0;
    background: none;
    position: static;
    flex-direction: row;
  }
  .navbar .menu__menuGroupSection {
    display: flex;
  }
  .navbar .menu__categoryContainer {
    margin: 0;
    margin-right: 1.875rem;
  }
  .navbar .menu__categoryBtn {
    color: white;
    font-weight: 400;
    padding: 0;
  }
  .navbar .menu__categoryBtn .arrow {
    color: white;
  }
  .navbar .menu__linkContainer {
    position: absolute;
    padding: 1.75rem 1.5625rem;
    text-align: start;
    background: white;
  }
  .navbar .menu .menuClose {
    max-height: 0;
    padding: 0;
    margin-top: 0;
    box-shadow: none;
  }
}
