@import "variables";

.credentials {
  padding-top: 1.25rem;
  width: 100%;
  border-top: 1px solid $grayishBlue;
  a {
    margin: 0 auto;
    @include overpass;
    font-weight: $overpassBold;
    color: $veryDarkBlue;
    display: block;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    width: max-content;
  }

  .signup {
    color: white;
    background: linear-gradient(to right, $veryLightRedGrad, $lightRedGrad);
  }
}
