@import "variables";

.footer {
  align-items: flex-start;
  background: $veryDarkBlackBlue;
  text-align: center;
  color: white;
  margin-top: 6.25rem;
  padding-top: 4.275rem;
  padding-bottom: 3.875rem;
  border-radius: 0 6rem 0 0;

  &__title {
    margin: 2.1875rem 0;
    @include ubuntu;
  }

  &__links {
    display: flex;
    flex-direction: column;

    :not(:first-child) {
      margin-top: 1.1875rem;
    }

    a {
      color: $grayishBlue;
    }

    :hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    text-align: start;

    &__title {
      margin-top: 0;
    }
  }
}
