@import "variables";

.footer {
  background: $veryDarkBlackBlue;
  text-align: center;
  color: white;
  padding-top: 4.275rem;
  padding-bottom: 3.875rem;
  border-radius: 0 6rem 0 0;

  h1 {
    @include ubuntu;
  }

  li {
    display: flex;
    flex-direction: column;

    :not(:first-child) {
      margin-top: 1.1875rem;
    }

    a {
      margin: 0 auto;
      text-decoration: none;
      color: $grayishBlue;
    }

    :hover {
      text-decoration: underline;
    }
  }
}

.title {
  margin: 2.1875rem 0;
}
