@import "variables";

.hero {
  position: relative;
  color: white;
  border-radius: 0 0 0 7rem;
  overflow: hidden;
  margin-bottom: 6.625rem;
}

.bgImgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    to bottom right,
    $veryLightRedGrad,
    $lightRedGrad
  );

  .bgImg {
    position: absolute;
    height: calc(100vw + 52.5rem);
    transform: translate(-25%, -20%);
  }
}

.navbar {
  display: flex;
  margin: 0 1.5rem;
  padding-top: 3.625rem;
  justify-content: space-between;
  align-items: center;

  &__title {
    @include ubuntu;
    font-weight: $ubuntuBold;
  }

  &__button {
    cursor: pointer;
  }
}

.header {
  margin-top: 3.375rem;
  text-align: center;

  p {
    margin: 1.25rem 3.125rem 0;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;

  button {
    @include ubuntu;
    font-weight: $ubuntuBold;
    cursor: pointer;
    font-size: 0.75rem;
    background: none;
    color: inherit;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin: 3.375rem 1rem 9.75rem 0;
  }

  .cta {
    color: $lightRed;
    background: white;
  }
}
