@import "variables";

.hero {
  position: relative;
  color: white;
  margin-bottom: 6.625rem;

  .bgImgContainer {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0 0 0 7rem;
    background: linear-gradient(to right, $veryLightRedGrad, $lightRedGrad);

    .bgImg {
      position: absolute;
      height: calc(100vw + 95.5rem);
      transform: translate(-13%, -43%);
    }
  }

  .header {
    margin-top: 3.375rem;
    text-align: center;

    h1 {
      margin: 0 2rem;
    }

    p {
      margin: 1.25rem 3.125rem 0;
    }
  }

  .btnContainer {
    display: flex;
    justify-content: center;

    button {
      font-size: 0.75rem;
      color: inherit;
      border: 1px solid white;
      border-radius: 2rem;
      padding: 1rem 1.125rem;
      margin: 3.375rem 0 9.75rem 0.4375rem;

      &:hover {
        background: white;
        color: $lightRed;
      }
    }

    .cta {
      color: $lightRed;
      background: white;
      margin: 3.375rem 0.4375rem 9.75rem 0;

      &:hover {
        border: none;
        color: white;
        box-shadow: none;
        background: rgba(255, 255, 255, 0.25);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    .header {
      h1 {
        font-size: 62px;
      }
    }
    .btnContainer {
      button {
        color: white;
      }
    }
  }
}
