.img {
  width: calc(100vw + 1.5rem);
  max-width: 530px;
  transform: translateX(-2.5%);
}

.imgContainer {
  width: 100%;
  overflow: hidden;
  margin: auto 0;
}

@media only screen and (min-width: 768px) {
  .img {
    position: relative;
    top: 3.25rem;
    width: auto;
    max-width: 100vw;
    height: 36.125rem;
    max-height: 55vw;

    transform-origin: center;
    &_right {
      top: 0;
      transform: translateX(10%);
      height: 53.125rem;
    }

    &_left {
      top: 0;
      transform: translateX(-29%);
      height: 53.125rem;
    }
  }
}
