@import "variables";

.mainContainer {
  height: max-content;

  * {
    padding: 0.5rem 0;
    margin: 1rem 0;
  }
}

.block {
  text-align: center;
  position: relative;

  &__title {
    font-weight: $overpassBold;
    color: $veryDarkBlue;
    padding: 0 2.5rem;
  }

  &__desc {
    color: $veryDarkGrayishBlue;
    padding: 0 2.3rem;
    line-height: 1.625rem;
  }

  &__last {
    margin-bottom: 7.5rem;
  }
}

.img {
  width: 100%;
}

.infra {
  margin-top: 14.375rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 0;

  &__imgContainer {
    background: linear-gradient(
      to bottom right,
      $veryDarkGrayBlueGrad,
      $VeryDarkDesaturatedBlueGrad
    );
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 0 5rem 0 5rem;
  }

  &__phones {
    position: absolute;
    max-width: 500px;
    max-height: 525px;
    width: 90vw;
    height: 94.5vw;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__bg {
    position: absolute;
    width: calc(100% + 15rem);
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__title {
    padding-top: 14.375rem;
    color: white;
    z-index: 2;
  }

  &__desc {
    color: white;
    z-index: 2;
  }
}
