@import "variables";

.mainContainer {
  height: max-content;

  * {
    padding: 0.5rem 0;
    margin: 1rem 0;
  }
}

.block {
  text-align: center;
  position: relative;

  &__title {
    font-weight: $overpassBold;
    color: $veryDarkBlue;
    padding: 0 2.5rem;
  }

  &__desc {
    color: $veryDarkGrayishBlue;
    padding: 0 2.3rem;
    line-height: 1.625rem;
  }

  &__last {
    margin-bottom: 7.5rem;
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  overflow: hidden;
}

.img {
  margin: 0;
  padding: 0;
  width: calc(100vw + 2rem);
  transform: translate(0%);
}

.infra {
  margin-top: 16.5rem;
  margin-bottom: 5rem;
  padding-top: 0;
  z-index: 0;

  &__imgContainer {
    background: linear-gradient(
      to bottom right,
      $veryDarkGrayBlueGrad,
      $VeryDarkDesaturatedBlueGrad
    );
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 0 5rem 0 5rem;
    margin-top: 0rem;
  }

  &__phones {
    position: absolute;
    width: calc(100vw - 1.8rem);
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__bg {
    position: absolute;
    width: calc(100% + 15rem);
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__title {
    margin-top: 0;
    padding-top: 14.375rem;
    color: white;
    z-index: 2;
  }

  &__desc {
    color: white;
    z-index: 2;
  }
}
