@import "variables";
$transitionTime: 500ms;

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2.25rem 1.5rem 2rem;

  position: absolute;
  top: 130%;

  width: 100%;
  max-height: 100vh;

  background: white;
  border-radius: 0.5rem;

  transition: all $transitionTime;
  overflow: hidden;
  z-index: 2;

  &__menuBar {
    width: 100%;
  }

  &__menuContainer {
    margin-bottom: 1.5rem;
  }

  &__menuBtn {
    color: $veryDarkBlue;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: none;
    transition: all $transitionTime;

    .arrow {
      margin-left: 0.5rem;
      transition: all $transitionTime;
    }

    .arrow_close {
      transform: rotate(180deg);
    }
  }

  &__menuSelected {
    color: $veryDarkGrayishBlue;
  }

  &__linkContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #efeff1;
    font-weight: $ubuntuMedium;
    overflow: hidden;
    transition: all $transitionTime;
    margin-top: 1.75rem;
    padding: 1.75rem 0;
    max-height: 50vh;
    border-radius: 0.5rem;

    :not(:first-child) {
      margin-top: 1.75rem;
    }
  }

  &__link {
    color: $veryDarkGrayishBlue;

    height: auto;

    &:hover {
      font-weight: $ubuntuBold;
    }
  }
}

.credentials {
  padding-top: 1.25rem;
  width: 100%;
  border-top: 1px solid $grayishBlue;

  a {
    margin: 0 auto;
    padding: 1rem 2.5rem;
    @include overpass;
    font-weight: $overpassBold;
    color: $veryDarkBlue;
    display: block;
    border-radius: 5rem;
    width: max-content;
  }

  .signup {
    padding: 1rem 2.5rem;
    color: white;
    background: linear-gradient(to right, $veryLightRedGrad, $lightRedGrad);

    &:hover {
      color: white;
      box-shadow: none;
      background: rgba(255, 255, 255, 0.25);
    }
  }
}

.menuClose {
  max-height: 0;
  padding: 0;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .nav {
    justify-content: space-between;
    margin-left: 4rem;
    padding: 0;
    background: none;
    position: static;
    flex-direction: row;

    &__menuBar {
      display: flex;
    }

    &__menuContainer {
      margin: 0;
      margin-right: 1.875rem;
    }

    &__menuBtn {
      color: white;
      font-weight: $ubuntuSmall;
      padding: 0;

      .arrow {
        color: white;
      }
    }

    &__linkContainer {
      position: absolute;
      padding: 1.75rem 1.5625rem;
      text-align: start;
      background: white;
    }
  }

  .menuClose {
    max-height: 0;
    padding: 0;
    margin-top: 0;
  }

  .credentials {
    padding: 0;
    width: max-content;
    border: none;
    display: flex;
    align-items: center;

    a {
      color: white;
      margin: 0;
      padding-left: 0;
      display: initial;
      height: min-content;
    }

    .signup {
      color: $lightRed;
      background: white;
    }
  }
}
