@import "variables";

.navbar {
  @include ubuntu;
  display: flex;
  margin: 0 1.5rem;
  padding-top: 3.625rem;
  padding-left: 11.39%;
  padding-right: 11.39%;

  &__title {
    font-weight: $overpassBold;
    font-size: 32px;
  }

  @media (max-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
  }

  justify-content: space-between;
  align-items: center;
  position: relative;
}
