@import "variables";

$transitionTime: 500ms;

.navbar {
  @include ubuntu;
  display: flex;
  margin: 0 1.5rem;
  padding-top: 3.625rem;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.25rem 1.5rem 2rem;

    position: absolute;
    top: 130%;

    width: 100%;
    max-height: 100vh;

    background: white;
    border-radius: 0.5rem;

    transition: all $transitionTime;
    overflow: hidden;
    z-index: 2;

    &__menuGroupSection {
      width: 100%;
    }

    &__categoryContainer {
      margin-bottom: 1.5rem;
    }

    &__categoryBtn {
      color: $veryDarkBlue;
      margin: 0 auto;
      display: flex;
      align-items: center;
      border: none;

      transition: all $transitionTime;

      .arrow {
        margin-left: 0.5rem;
        transition: all $transitionTime;
      }

      .arrow_close {
        transform: rotate(180deg);
      }
    }

    &__categorySelected {
      color: $veryDarkGrayishBlue;
    }

    &__linkContainer {
      display: flex;
      flex-direction: column;
      text-align: center;
      background: #efeff1;
      font-weight: $ubuntuMedium;
      overflow: hidden;
      transition: all $transitionTime;
      margin-top: 1.75rem;
      padding: 1.75rem 0;
      max-height: 50vh;
      border-radius: 0.5rem;

      :not(:first-child) {
        margin-top: 1.75rem;
      }
    }

    &__link {
      color: $veryDarkGrayishBlue;

      height: auto;

      &:hover {
        font-weight: $ubuntuBold;
      }
    }
  }

  .menuClose {
    max-height: 0;
    padding: 0;
    margin-top: 0;
    box-shadow: none;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    .menu {
      justify-content: space-between;
      margin-left: 4rem;
      padding: 0;
      background: none;
      position: static;
      flex-direction: row;

      &__menuGroupSection {
        display: flex;
      }

      &__categoryContainer {
        margin: 0;
        margin-right: 1.875rem;
      }

      &__categoryBtn {
        color: white;
        font-weight: $ubuntuSmall;
        padding: 0;

        .arrow {
          color: white;
        }
      }

      &__linkContainer {
        position: absolute;
        padding: 1.75rem 1.5625rem;
        text-align: start;
        background: white;
      }

      .menuClose {
        max-height: 0;
        padding: 0;
        margin-top: 0;
        box-shadow: none;
      }
    }
  }
}
